<div class="jumbotron">    
      <h2>{{pagetitle}}</h2>       
</div>

<div ng-include src="'views/social-btn.html'" ></div>       
<div class="row" id="cards"> </div> 

<div class="page-header">
    <h2>Pechè avevo creato la pagina Monumento ai caduti (definizione) su Wikipedia</h2>
</div>
<p>Avevo creato la pagina Monumento ai caduti (definizione) su <a href="https://it.wikipedia.org/wiki/Pagina_principale">Wikipedia</a> perchè avevo scritto nella pagina su Monumento ai caduti di Musocco su Wikipedia poi <a href="http://it.wikipedia.org/w/index.php?title=Speciale:Registri&amp;page=Monumento_ai_caduti_(definizione)">cancellata</a>, come prima frase dicevo il Monumento ai caduti di Musocco ricorda i caduti... Avevo creato un link sul testo Monumento ai caduti perchè si potesse avere informazioni di che cosa si tratta.
    Questo inizio è lo stesso della mia attuale pagina <a href='#monumentoaicadutidiMusocco'>Monumento ai caduti di Musocco</a>. Sfortunatamente la pagina Monumento ai caduti in Wikipedia Italia non esiste, esistono tante pagine su specifici monumenti ai caduti in Italia ma nessuna definizione!! Ho pensato di crearla senza andare troppo nel dettaglio. In <a href="http://en.wikipedia.org/wiki/Main_Page">Wikipedia</a> di lingua inglese esiste la pagina <a href="http://en.wikipedia.org/wiki/War_memorial">War Memorial</a> ho tradotto questa pagina per gli elementi più salienti e ho creato una nuova pagina Monumento ai caduti (definizione). 
    Ho aggiunto tra parentesi definizione per evitare <a href="http://it.wikipedia.org/wiki/Aiuto:Disambigua">disambuguazioni</a>, probabilmente non serviva neppure, sarebbe bastato Monumento ai Caduti. In questo modo il link nella pagina Monumento ai caduti di Musocco su Wikipedia poi cancellata era funzionante.
    Il testo scritto e l'impostazione ricordano molto da vicino quanto scritto nella pagina <a href='#monumentoaicaduti'>monumento ai caduti</a> di questo sito.
</p>

<div class="page-header">
    <h2>La cancellazione immediata della pagina</h2>
</div>
<p>02:32, 6 lug 2013 <a class="new" href="http://it.wikipedia.org/w/index.php?title=Utente:Castagna&amp;action=edit&amp;redlink=1" title="Utente:Castagna (la pagina non esiste)">Castagna</a> <a href="http://it.wikipedia.org/w/index.php?title=Speciale:Registri&amp;page=Monumento_ai_caduti_(definizione)">cancella</a> la pagina <a href="http://it.wikipedia.org/wiki/Monumento_ai_caduti_(definizione)">Monumento ai caduti (definizione)</a> con procedura <a href="http://it.wikipedia.org/wiki/Wikipedia:IMMEDIATA">cancellazione immediata</a> con la motivazione di contenuto palesemente non enciclopedico o promozionale.</p>

<div class="page-header">       
    <h2>Le mie attuali riflessioni</h2>
 </div>
<p>
    Il modello di Wikipedia è senz'altro molto buono, la possibilità che persone possano collaborare per illustrare e migliorare il sapere umano è un&#39;idea fantastica, il buon risultato finale di ogni singola pagina nasce dalla possibilità di toccarla più volte fino a ritenerla almeno accettabile, un insieme di cancellazioni parziali e aggiunte a più mani, che costituiscono il feedback. Tante energie e competenze sono state spese per costruire un piano di lavoro che permetta di rilasciare un&#39;opera duratura e di aggiornarla. Per ogni pagina, anche a distanza anche di anni si possono ricostruire i passaggi che ha hanno portato alla creazione, modifica e in questo caso cancellazione di ogni singola pagina con le motivazioni.
    Naturalmente un modello è amministrato da persone scelte che prendono decisioni.
    <p>
        Nel caso specifico non esisteva ancora in italiano una pagina di definizione di una struttura, il monumento ai caduti. E' stata presa in prestito dalla <a href="http://en.wikipedia.org/wiki/War_memorial">definizione</a> in lingua inglese dello stesso sistema, Wikipedia.
    Un <a href="http://it.wikipedia.org/w/index.php?title=Utente:Castagna&amp;action=edit&amp;redlink=1">amministratore</a> bolla come palesamente enciclopedico o promozionale ciò che esiste nello stesso sistema in un'altra lingua, quella di riferimento, l'inglese.
    <br />
    La mia richiesta è di un'apertura di un inchiesta interna di <a href="https://it.wikipedia.org/wiki/Pagina_principale">Wikipedia Italia</a> sull'operato dei propri amministratori e sulle scelte che portano al loro mandato.
    <br />
    <p>
    La mia pagina Monumento ai caduti (definizione), che potete <a href='#monumentoaicaduti'>leggere</a> nel mio sito quasi inalterata, era senz'altro un inizio, forse un abbozzo, per lo sviluppo dell'argomento a cui avrebbero potuto partecipare altri utenti.
    <br />
    La scelta della cancellazione della pagina ha comportato:
    <ul>
        <li>link orfano nella pagina Monumento ai caduti di Musocco, poi anche questa  <a href="http://it.wikipedia.org/w/index.php?title=Speciale:Registri&amp;page=Monumento_ai_caduti_di_Musocco">cancellata</a> dallo stesso <a href="http://it.wikipedia.org/w/index.php?title=Utente:Castagna&amp;action=edit&amp;redlink=1">amministratore</a>, a cui ho dedicato una a cui ho dedicato una <a href='#eliminazionepaginaMonumentoaicadutidiMusoccosuWikipedia'>pagina</a> di analisi dell&#39;eliminazione.</li>
        <li>non esiste a distanza di anni la pagina di Monumento ai caduti, in lingua italiana di Wikipedia</li>
    </ul>
    Vorrei fare che le innumerevoli pagine di Wikipedia sui monumento ai caduti, <a href="http://it.wikipedia.org/wiki/Monumento_ai_Caduti_(Milano)">Monumento ai Caduti (Milano)</a>, <a href="http://it.wikipedia.org/wiki/Monumento_ai_Caduti_di_tutte_le_guerre">Monumento ai Caduti di tutte le guerre</a>, <a href="http://it.wikipedia.org/wiki/Monumento_ai_Caduti_(Ancona)">Monumento ai Caduti (Ancona)</a>, ecc non contengono un link seppure orfano ad una pagina di definizione di monumento ai caduti. La conoscenza di un argomento è un insieme di definzioni, di link che spiegano di cosa si sta parlando.</p>

<ol class="references">
</ol>  

<div ng-include src="'views/it/partials/footer.html'" ></div> 
