<div class="jumbotron">
	<h1>{{pagetitle}}</h1>
	<p>Il <b>monumento ai caduti</b> è una costruzione, un monumento, una statua o altro edificio per celebrare una vittoria di guerra, o, prevalentemente in tempi moderni, commemorare coloro che sono morti o rimasti feriti in guerra.<my-ref>^</my-ref> L'esigenza di celebrazione o commemorazione nasce alla fine di ogni guerra per fissare nel tempo il ricordo dell'evento.

	<p>Monumento deriva da  dal latino monumentum, ricordo, e da monère, ricordare. Un monumento è un tipo di struttura, solitamente tridimensionale, creata in modo esplicito per commemorare una persona o un evento o che è diventata rilevante per un gruppo sociale come parte del ricordo dei tempi storici o del patrimonio culturale, a causa della sua importanza artistica, storica, politica, tecnica o architettonica. Esempi di monumenti includono statue, memoriali (di guerra), edifici storici, siti archeologici e beni culturali.<my-ref>^</my-ref></p>


<div ng-include src="'views/social-btn.html'"></div>
<div class="row">
	<div class="table-of-contents col-md-6 card bd-top-color-red">{{strings.indice}}</div>
<div class="page-header">
	<h2 class="content">Introduzione storica e i monumenti ai caduti del 1915-118</h2>
</div>
<p>Per molto tempo della storia umana i memoriali di guerra sono stati eretti per celebrare grandi vittorie. Ricordare i morti era una preoccupazione secondaria. L&#39;<a href="http://it.wikipedia.org/wiki/Arco_di_trionfo">Arco di Trionfo</a> a Parigi, la <a href="http://it.wikipedia.org/wiki/Colonna_di_Nelson">Colonna di Nelson</a> a Londra non contengono i nomi dei morti. Dalla fine del diciannovesimo secolo i reggimenti della <a href="http://it.wikipedia.org/wiki/British_Army">British Army</a> iniziarono a commemorare i morti con monumenti contenenti la lista dei caduti.</p>

	<p>In tempi moderni, dalla <a href="http://it.wikipedia.org/wiki/Prima_guerra_mondiale">prima guerra mondiale</a> in poi, lo scopo principale degli edifici eretti in ricordo di una guerra o una battaglia non è quello di glorificare la guerra o la vittoria, ma onorare coloro che sono morti e si può intendere questi edifici più strettamente come monumento ai caduti.</p>

	<p>I <b>monumenti</b> eretti in ricordo <b>dei caduti della prima guerra mondiale in Italia</b> è l'argomento specifico di questa pagina. Essi sono stati trattati in modo approfondito ed erudito nel sito web Monumento ai Caduti 1915-1918,<my-ref>^</my-ref> che ne è la fonte. Gli autori di pietredimemoria.it, partendo dalle condizioni dopo il conflitto mondiale, spiegano il bisogno che ha determinato la costruzione dei monumenti ai caduti, ossia un atto di riconoscimento del dolore e mezzo di elaborazione del lutto, e loro diffusione, si trovano infatti in ogni comune d'Italia. Si soffermano sui simboli e l'architettura, individuando caratteristiche comuni e ricorrenti. Molto di quello studio è condivisibile con i monumenti dello stesso periodo di altri paesi europei e dei monumenti ai caduti della seconda guerra, mentre la mitizzazione della morte del soldato per una guerra giusta è propria dell'Italia, alimentata per ragioni politiche dal fascismo.</p>
</div>

<div class="page-header">
	<h2 class="content">Le condizioni socio-economiche dopo la fine della Grande Guerra</h2>
</div>
<p>La prima guerra mondiale, la "Grande Guerra", rappresentò per l'Europa un vero e proprio dramma collettivo. Si stima che le <a href="https://it.wikipedia.org/wiki/Conteggio_delle_vittime_della_prima_guerra_mondiale">vittime della prima guerra mondiale</a> furono un totale, tra militari e civili, compreso tra 15 milioni e più di 17 milioni di morti, e più di 20 milioni di feriti e mutilati. In quattro anni, dal 1915 al 1918, morirono, direttamente o indirettamente, 1.240.000 italiani.</p>

<p>Il gran numero di morti, la distruzione di molte città, le perdite che avevano colpito praticamente ogni famiglia di ciascun paese, insieme alla disastrosa situazione economica in cui si trovarono i vari stati alla fine della guerra, provocarono un vuoto difficile, se non impossibile, da colmare. Un sentimento è l'ostilità nei confronti della politica, incapace di aver evitato la guerra, che sfocia in alcuni in posizioni antipatriottiche. Più comunemente, si giunge a un'accettazione del conflitto grazie alla tradizionale mediazione della religione.<my-ref>^</my-ref></p>

<p>Inizialmente, i morti in guerra furono oggetto di un processo di elaborazione del lutto messo in atto principalmente da familiari e comunità locali, per dare un significato e rendere più tollerabili le enormi perdite numeriche. Molte delle iniziative di commemorazione non ebbero, cioè, carattere ufficiale o statale, ma partirono "dal basso", dalla cerchia dei caduti. Le altre, di stampo nazional-patriottico, avvengono in un secondo tempo, in quanto devono affrontare non solo il lutto per i 650.000 militari caduti e il risentimento di una fetta dell'opinione pubblica, ma anche che fossero morti proprio in una guerra per la nazione, elemento in grado di far vacillare la fedeltà all'ideale a cui queste individualità si sentivano fortemente legate.<my-ref>^</my-ref></p>

<div class="page-header">
	<h2 class="content">Simbolismo dei monumenti ai caduti 1915-1918 </h2>
</div>
<p>I monumenti eretti a ricordo dei soldati morti nella Grande Guerra sono monumenti funebri che possono essere visti come una manifestazione concreta, un atto tangibile, una mediazione ideale dell'istituzione verso la comunità sopravvissuta, costituite da reduci, parenti e altri appartenenti alle collettività locali, per favorire l'accettazione della guerra nazionale e superare il lutto. In questo contesto, il simbolismo deve offrire contorni accettabili alla morte in battaglia, cercando allo stesso tempo di restituirle un senso ideale, fino a, in alcuni casi, renderla quasi sacra.<br>
	In esse prevalevano i concetti di morte come sacrificio estremo per il bene comune, di eroismo di fronte al nemico, di glorificazione più o meno dolente della vittoria finale, senza tralasciare specifici elementi di identificazione, civile e religiosa, e di personificazione dell'elemento femminile.</p>

<p>La novità dei monumenti ai caduti della prima guerra mondiale, pur non avendo un legame diretto con i corpi dei caduti, consiste quindi che non solo celebrano il coraggio e il valore di un esercito e ricordano dei soldati morti in battaglia, ma li identificarono singolarmente come eroi, vittime consapevoli e garanti di un dovere collettivo verso la patria. Infatti, dalla Grande Guerra i monumenti ai caduti cessarono di essere testimonianze anonime e su di essi iniziarono a comparire i nomi dei singoli soldati, nel tentativo generalizzato, anche se non esclusivo, di onorare ciascun morto in guerra non per delle gesta individuali, ma come parte di un progetto più alto.<my-ref>^</my-ref></p>

<div class="page-header">
	<h2 class="content">Collocazione dei monumenti ai caduti 1915-1918 in Italia</h2>
</div>
<p>In Italia la richiesta delle comunità locali di ricordare i propri morti fu accolta dalle istituzioni e dalla politica con una diffusa monumentalistica rievocativa, funzionali tanto alla memoria, quanto al processo civico e religioso di elaborazione del lutto.</p>

<p>La collocazione dei monumenti ai caduti doveva rispondere innanzitutto a precise esigenze di visibilità e di rappresentatività. Gli appartenenti alla comunità locale dovevano poterli costantemente vedere e considerarli parte integrante dello spazio comunitario: passarvi accanto nel corso delle attività giornaliere, deporvi dei fiori o fermarvisi di fronte permetteva ad ognuno di far propri quei morti e di rendere collettivo il loro ricordo, sentendosi consolati e rappresentati dalla loro morte. Grazie anche a una diffusa retorica ufficiale sulla Vittoria e sul sacrificio per la Patria, la rappresentatività civile dei monumenti determinò una progressiva attenuazione del loro valore strettamente funerario, rendendoli sempre più veri e propri elementi del panorama urbano. Il mito di avere combattuto per una guerra giusta era sostenuto politicamente dal nascente fascismo, utilizzato a fini di propaganda.</p>

<p>I luoghi più comunemente prescelti per erigere i manufatti furono: le piazze principali dei paesi, l'area prospicente le chiese parrocchiali, ma anche la piazza della stazione o i giardini pubblici, ossia i più continuamente frequentati, da abitanti o gente di passaggio.<br>
	I monumenti venivano spesso eretti al centro di una piccola area verde arricchita di fiori, arbusti, siepi di bosso o cipressi. In ogni caso, anche in assenza di verde, veniva quasi sempre creata una separazione fisica tra i monumenti e l'area circostante (con l'impiego di catene, cancelletti, piloni di varia forma) quasi a volerli collocare, e a delimitarne la presenza, all'interno di un preciso luogo della memoria.<my-ref>^</my-ref></p>

<div class="page-header">
	<h2 class="content">Progettazione e architettura dei monumenti ai caduti 1915-1918</h2>
</div>
<p>L'assegnazione della costruzione dei monumenti veniva realizzata attraverso concorsi a cui partecipavano scultori già esperti nella produzione cimiteriale, tipica di una scultura celebrativa dotata di caratteristiche coerenti con l'ideologia della committenza e con tratti di comprensibilità verso il grande pubblico. Le cerimonie di inaugurazione non presentavano un carattere prettamente funebre. Nelle diverse fotografie d'epoca si nota la presenza di una grande folla, composta di gente comune e reduci, che partecipa allo scoprimento dei monumenti, accolti in maniera festosa e al suono di inni patriottici.<br>
	Alcuni monumenti sono architettonicamente e simbolisticamente interessanti sotto molti aspetti, nello stile tipico pesante della fine '800, ereditato da movimenti artistici tipici dell'epoca; altri sono di scarso valore artistico. Il fenomeno della costruzione dei monumenti ai caduti della Grande Guerra fondò spesso la sua importanza non tanto sulla qualità in se stessa ma per la loro diffusione capillare in tutto il paese.</p>

<div class="page-header">
	<h2 class="content">Tipologie</h2>
</div>
<p>Le principali categorie e/o tipologie dei monumenti ai caduti sono:</p>
<ul>
	<li>Un monumento, di varie dimensioni, da un intero edificio, contenente persino un museo, o anche una sola placca. La maggior parte sono monumenti o statue e possono ospitare eventi nel giorno della commemorazione. Si trovano spesso vicino al centro della città, o all&#39;interno di un parco o una piazza e sono facilmente accessibili e visibili dal pubblico.</li>
	<li>Molti monumenti ai caduti portano un placca con la lista dei nomi di coloro che sono morti in battaglia. A volte questa lista può essere molto lunga.</li>
</ul>

<div class="page-header">
	<h2 class="content">Ricorrenze in cui si ricordano i caduti in Italia</h2>
</div>
<p>In Italia il 25 Aprile si celebra l'<a href="http://it.wikipedia.org/wiki/Anniversario_della_liberazione_d'Italia">Anniversario della liberazione d&#39;Italia</a>, giorno che è simbolo della vittoriosa lotta di resistenza militare e politica delle forze partigiane durante la <a href="http://it.wikipedia.org/wiki/Seconda_guerra_mondiale">seconda guerra mondiale</a> nei confronti del governo fascista e dell'occupazione nazista. I caduti di tutte le guerre recenti, d'Africa, prima e seconda guerra, vengono commemorate con cerimonie, visite ai luoghi simboli, con deposizione di corone di alloro su targhe, lapidi e monumenti.<br>
	Il 4 novembre è una festa in cui si celebra la Vittoria dell'Italia nella prima guerra mondiale e completamento dell'unità nazionale. Istituita nel 1919, l'anno dopo la fine prima guerra mondiale avvenuta il 4 novembre 1918, ora è <a href="http://it.wikipedia.org/wiki/Giornata%20dell'Unità%20Nazionale%20e%20delle%20Forze%20Armate">Giornata dell'Unità Nazionale e delle Forze Armate</a>.</p>

<div class="page-header">
	<h2 class="content">Altro</h2>
</div>
<p>La pagina Monumento ai caduti (definizione) scritta da me su <a href="https://it.wikipedia.org/wiki/Pagina_principale">Wikipedia</a> con impostazione e argomentazione simili a quanto scritto in questa pagina è stata <a href="http://it.wikipedia.org/w/index.php?title=Speciale:Registri&page=Monumento_ai_caduti_(definizione)">cancellata</a>. Si leggano le mie <a href='#eliminazioneMonumentoaicadutidefinizionesuWikipedia'>considerazioni</a> su questa esperienza.</p>

<div class="page-header">
	<h2 class="content">{{strings.note}}</h2>
</div>

<div class="page-header" >
	<h2 class="content">{{strings.elencoDomini}}</h2>
	<ol class="references">
		<li><a href="https://en.wikipedia.org/wiki/War_memorial">"War memorial"</a>. <i>Wikipedia: The Free Encyclopedia</i> (in English). Wikimedia Foundation, Inc. Consultato il 11 aprile 2019.</li>
		<li><a href="https://en.wikipedia.org/wiki/Monument">"Monument"</a>. <i>Wikipedia: The Free Encyclopedia</i> (in English). Wikimedia Foundation, Inc. Consultato il 11 aprile 2019.</li>
		<li><a href="http://www.pietredimemoria.it/index.html">"Monumento ai Caduti 1915-1918"</a>. <i>pietredimemoria.it</i>. Consultato il 11 aprile 2019.</li>
		<li><a href="http://www.pietredimemoria.it/when.html">"Quando sono stati costruiti?"</a>. <i>Monumento ai Caduti 1915-1918</i>. Consultato il 11 aprile 2019.</li>
		<li><a href="http://www.pietredimemoria.it/what.html">"Che cosa vogliono ricordare?"</a>. <i>Monumento ai Caduti 1915-1918</i>. Consultato il 11 aprile 2019.</li>
		<li><a href="http://www.pietredimemoria.it/like.html">"Come sono stati progettati?"</a>. <i>Monumento ai Caduti 1915-1918</i>. Consultato il 11 aprile 2019.</li>
		<li><a href="http://www.pietredimemoria.it/where.html">"Dove si trovano ?"</a>. <i>Monumento ai Caduti 1915-1918</i>. Consultato il 11 aprile 2019.</li>
	</ol>
	</ol>
</div>
<div class="hyperlinksDomain col-md-6 card bd-top-color-yellow">{{strings.dominiCollegamenti}}</div>
<div class="photosDomain col-md-5 card bd-top-color-green">{{strings.dominiFoto}}</div>

<div ng-include src="'views/it/partials/footer.html'" ></div>