<div class="jumbotron">
	<h1>{{pagetitle}}</h1>
	<p>Il monumento ai caduti è una costruzione, un monumento, una statua o altro edificio per celebrare una vittoria di guerra, o, prevalentemente in tempi moderni, commemorare coloro che sono morti o rimasti feriti in guerra.<my-ref>^</my-ref></p>

	<p>Per molto tempo della storia umana i memoriali di guerra sono stati eretti per commemorare grandi vittorie. Ricordare i morti era una preoccupazione secondaria. L&#39;<a href="http://it.wikipedia.org/wiki/Arco_di_trionfo">Arco di Trionfo</a> a Parigi, la <a href="http://it.wikipedia.org/wiki/Colonna_di_Nelson">Colonna di Nelson</a> a Londra non contengono i nomi dei morti. Dalla fine del diciannovesimo secolo i reggimenti della <a href="http://it.wikipedia.org/wiki/British_Army">British Army</a> iniziarono a commemorare i morti con monumenti contenenti la lista dei caduti.</p>

	<p>In tempi moderni, dalla <a href="http://it.wikipedia.org/wiki/Prima_guerra_mondiale">prima guerra mondiale</a> in poi, lo scopo principale degli edifici eretti in ricordo di una guerra o una battaglia non è quello di glorificare la guerra o la vittoria, ma onorare coloro che sono morti e si può intendere questi edifici più strettamente come monumento ai caduti.</p>
</div>

<div ng-include src="'views/social-btn.html'" ></div>
<div class="row">
	<div class="table-of-contents col-md-6 card bd-top-color-red">{{strings.indice}}</div>
</div>

<div class="page-header">
	<h2 class="content">Simbolismo</h2>
</div>

<p>In Italia il giorno in cui si ricordano i caduti delle guerre con più frequenza è il 25 Aprile, <a href="http://it.wikipedia.org/wiki/Anniversario_della_liberazione_d'Italia" >Anniversario della Liberazione d&#39;Italia</a> nella <a href="http://it.wikipedia.org/wiki/Seconda_guerra_mondiale">seconda guerra mondiale</a> e il 4 Novembre, anniversario della fine della prima guerra mondiale per l'Italia, che si celebra con <a href="http://it.wikipedia.org/wiki/Giornata%20dell'Unità%20Nazionale%20e%20delle%20Forze%20Armate">Giornata dell'Unità Nazionale e delle Forze Armate</a>.</p>

<div class="page-header">
	<h2 class="content">Tipi</h2>
</div>
<ul>
	<li>Un monumento ai caduti può essere di varie dimensioni, da un intero edificio, contenente persino un museo, o anche una sola placca. La maggior parte sono monumenti o statue e possono ospitare eventi nel giorno della commemorazione. Si trovano spesso vicino al centro della città, o all&#39;interno di un parco o una piazza e sono facilmente accessibili e visibili dal pubblico.</li>
	<li>Molti monumenti ai caduti portano un placca con la lista dei nomi di coloro che sono morti in battaglia. A volte questa lista può essere molto lunga.</li>
</ul>

<div class="page-header">
	<h2 class="content">Altro</h2>
</div>
<p>La pagina Monumento ai caduti (definizione) scritta da me su <a href="https://it.wikipedia.org/wiki/Pagina_principale">Wikipedia</a> con impostazione e argomentazione simili a quanto scritto in questa pagina è stata <a href="http://it.wikipedia.org/w/index.php?title=Speciale:Registri&page=Monumento_ai_caduti_(definizione)">cancellata</a>. Si leggano le mie <a href='#eliminazioneMonumentoaicadutidefinizionesuWikipedia'>considerazioni</a> su questa esperienza.</p>

<div class="page-header">
	<h2 class="content">{{strings.note}}</h2>
</div>

<div class="page-header" >
	<h2 class="content">{{strings.elencoDomini}}</h2>
	<ol class="references">
		<li><a href="https://en.wikipedia.org/wiki/War_memorial">"War memorial"</a>. <i>Wikipedia: The Free Encyclopedia</i> (in English). Wikimedia Foundation, Inc. Consultato il 11 aprile 2019.</li>
		<li><a href="http://www.pietredimemoria.it/index.html">"Monumento ai Caduti 1915-1918"</a>. <i>pietredimemoria.it</i>. Consultato il 11 aprile 2019.</li>
	</ol>
</div>
<div class="hyperlinksDomain col-md-6 card bd-top-color-yellow">{{strings.dominiCollegamenti}}</div>
<div class="photosDomain col-md-5 card bd-top-color-green">{{strings.dominiFoto}}</div>

<div ng-include src="'views/it/partials/footer.html'" ></div>