<nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
           <a class="navbar-brand">
           </a>
        </div>
        <div>
           <ul class="nav navbar-nav">
              <li><a href="#/preambolo">Proemio</a></li>
              <li class="dropdown" >
                 <a data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                    Racconto 
                    <span class="caret"></span>
                 </a>
                 <ul class="dropdown-menu">
                    <li ng-class="{ active: isActive('/lacaduta')}"><a href="#/lacaduta">La caduta</a></li>
                    <li ng-class="{ active: isActive('/leprimevisitemediche')}"><a href="#/leprimevisitemediche">Le prime visite mediche</a></li>
                 </ul>
              </li>      
              <li class="dropdown" >
                 <a data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                    Dante 
                    <span class="caret"></span>
                 </a>
                 <ul class="dropdown-menu">                
                    <li ng-class="{ active: isActive('/dante')}"><a href="#/incontroconilpoeta">L'incontro con il poeta</a></li>
                    <li ng-class="{ active: isActive('/dante')}"><a href="#/introduzioneaConvivio">Introduzione a Convivio</a></li>
                    <li ng-class="{ active: isActive('/dante')}"><a href="#/convivioTrattatoPrimo">Convivio - Trattato Primo</a></li>
                    <li ng-class="{ active: isActive('/dante')}"><a href="#/convivioTrattatoSecondo">Convivio - Trattato Secondo</a></li>
                    <li ng-class="{ active: isActive('/dante')}"><a href="#/commedia">Commedia</a></li>
                    <li ng-class="{ active: isActive('/dante')}"><a href="#/miecitazionidellaCommedia">Mie citazioni della Commedia</a></li>
                 </ul>
              </li>          
              <li class="dropdown" >
                 <a data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                    Luoghi 
                    <span class="caret"></span>
                 </a>
                 <ul class="dropdown-menu">
                    <li ng-class="{ active: isActive('/monumentoaicadutidiMusocco')}"><a href="#/monumentoaicadutidiMusocco">Monumento ai caduti di Musocco</a></li>                 
                 </ul>
              </li>              
              <li><a href="#/about">About</a></li>
           </ul>
            <ul class="nav navbar-nav pull-right">
              <li><a  href="#/preamble">English</a></li>
            </ul>
        </div>
    </nav>
