<nav class="navbar navbar-default" role="navigation" ng-controller="headerController">
        <div class="navbar-header">
           <a class="navbar-brand">
           </a>
        </div>
        <div>
           <ul class="nav navbar-nav">
              <li ng-class="{ active: isActive('/me')}" >
                <a style="padding:0px;" href="#/me">
                    <img class="img-rounded me-thumbnail" src="https://lh3.googleusercontent.com/-QM_kZpHa4WA/U7Unx4AnGlI/AAAAAAABmiM/Cg8qiZTezU0/w558-h699-no/Mauro+al+Principe.jpg" alt="Me">
                </a>           
             </li>
            <!--  <li ><a href="#/templatePage">Template</a></li> -->
              <li class="dropdown" >
                 <a data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                    Maestri 
                    <span class="caret"></span>
                 </a>
                 <ul class="dropdown-menu">
                    <li ng-class="{ active: isActive('/dante')}"><a  href="#/dante">Dante</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                 </ul>
              </li>          
              <li class="dropdown" >
                 <a data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                    Luoghi 
                    <span class="caret"></span>
                 </a>
                 <ul class="dropdown-menu">
                    <li ng-class="{ active: isActive('/monumentoaicadutidiMusocco')}"><a  href="#/monumentoaicadutidiMusocco">Monumento ai caduti di Musocco</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                 </ul>
              </li>              
              <li><a href="#/about">About</a></li>
           </ul>
            <ul class="nav navbar-nav pull-right">
              <li><a  href="#/en-me">English</a></li>
            </ul>
        </div>
    </nav>
