<div class="jumbotron padding-15px">
    <div class="page-header">
        <h1 class="text-center">{{pagetitle}}</h1>
        <p class="text-center">Alcuni flash sulla Commedia</p>
    </div>
</div>

<div ng-include src="'views/social-btn.html'" ></div>  
<div class="row">
  <div class="table-of-contents col-md-6 card bd-top-color-red">{{strings.indice}}</div>
</div>

<div class="page-header">
    <h2 class="content">Inferno, II 1-6 I</h2>     
</div>

<pre><em>Lo giorno se n&#39;andava, e l&#39;aere bruno
toglieva li animai che sono in terra
da le fatiche loro; e io sol uno   
m&#39;apparecchiava a sostener la guerra
sì del cammino e sì de la pietate,
<a id="che_ritrarrà_la_mente" href="#proemio#mia_memoria">che ritrarrà la mente</a> che non erra.</em></pre>

<p>Il giorno stava terminando, e l&#39;imbrunire<my-ref>^</my-ref><my-ref>^</my-ref><br />
sottraeva (costringeva e permetteva di riposarsi) ogni essere vivente (animali e uomini)<br /> 
dalle fatiche quotidiane (dal proprio lavoro); e io unico fra i viventi,<br />
mi accingevo a sostenere la dura prova<br />
del viaggio e della pietà (della compassione che ne avrei sofferto),<br />
che la (mia) memoria, fedele e infallibile registro di ogni evento, riporterà.</p>

<p>Dante precipitato nel peccato e finito nel buio dell&#39;inferno, dopo aver trovato conforto in Virgilio che si offre di guidarlo per l'Inferno e il Purgatorio (Inferno I), è consapevole del duro percorso (la guerra) che dovrà affrontare, fisico (il cammino) e morale, la compassione (la pietate) verso le pene dei dannati, affidando alla sua memoria infallibile il ricordo di quello che vivrà per raccontarlo.<br />  
    Allo stesso modo la mia memoria che non sbaglia ritrae il percorso di esami, parole, pause, gesti, organizzazione che portano ad una diagnosi e alla sua cura negli ospedali, studi medici, dentisti e quello sentito nella vita di tutti i giorni, per poi raccontarlo.</p>

<hr />

<div class="page-header" >
   <h2 class="content">{{strings.note}}</h2>
</div>
<ol class="references">
   <li>La comprensione del testo e la sua parafrasi è stata aiutata da Dante, Commedia - Inferno, I grandi libri Garzanti 2008 con Introduzione, note e commenti di Emilio Pasquini e Antonio Quaglio</li>
   <li>Wikibooks <a href="http://it.wikibooks.org/wiki/Divina_Commedia/Inferno/Canto_II">Divina Commedia/Inferno/Canto II</a></li>
</ol>
<div class="page-header" >
   <h2 class="content">{{strings.elencoDomini}}</h2>
</div>
<div class="hyperlinksDomain col-md-6 card bd-top-color-yellow">{{strings.dominiCollegamenti}}</div>
<div class="photosDomain col-md-5 card bd-top-color-green">{{strings.dominiFoto}}</div>

<div ng-include src="'views/it/partials/footer.html'" ></div> 