<div class="jumbotron padding-15px">
	<div class="page-header">
		<h1 class="text-center">{{pagetitle}}</h1>
		<p class="text-center">Alcuni flash sulla Commedia</p>
	</div>
</div>

<div ng-include src="'views/social-btn.html'"></div>
<div class="row">
	<div class="table-of-contents col-md-6 card bd-top-color-red">{{strings.indice}}</div>
</div>

<div class="page-header">
	<h2 class="content">Inferno, II 1-6 I</h2>
</div>

<pre><em>Lo giorno se n'andava, e l'aere bruno
toglieva li animai che sono in terra
da le fatiche loro; e io sol uno
m'apparecchiava a sostener la guerra
sì del cammino e sì de la pietate,
<a id="che_ritrarrà_la_mente" href="#proemio#mia_memoria">che ritrarrà la mente</a> che non erra.</em></pre>

<p>Il giorno stava terminando, e l'imbrunire<my-ref>^</my-ref><my-ref>^</my-ref><br />
	sottraeva (costringeva e permetteva di riposarsi) ogni essere vivente che si muove (animali e uomini)<br />
	dalle fatiche quotidiane (dal proprio lavoro); e io unico fra i viventi,<br />
	mi accingevo a sostenere la dura prova<br />
	del viaggio e della pietà (della compassione che ne avrei sofferto),<br />
	che la (mia) memoria, fedele e infallibile registro di ogni evento, riporterà.</p>

<p>Dante precipitato nel peccato e finito nel buio dell'inferno, dopo aver trovato conforto in Virgilio che si offre di guidarlo per l'Inferno e il Purgatorio (Inferno I), è consapevole del duro percorso (la guerra) che dovrà affrontare, fisico (il cammino) e morale, la compassione (la pietate) verso le pene dei dannati, affidando alla sua memoria infallibile il ricordo di quello che vivrà per raccontarlo.<br />
	Allo stesso modo, la mia memoria che non sbaglia ritrae l'incidente di una caduta e quello che segue, scelte personali, visite mediche, stato di salute, vita sociale e famigliare. Entra nel dettaglio, illustrando il rapporto paziente-medico, e questo con la struttura sanitaria, e le cure. La memoria è aiutata da dati disponibili, relazioni e esami. Emergerà un quadro sconfortante, ignoranza, sottovalutazione del pericolo da parte di tutti, cure inutili quando non fatte male e senza valutazione dell'esito, derisione del paziente, inevitabili dissapori e incomprensioni familiari. Le strutture che prendono in cura scelgono per un quotidiano tornaconto economico, che non è diverso dal complessivo attaccamento al denaro della società. Per decine di anni, colui che soffre, solo, povero e invisibile, è costretto a scegliere tra non curarsi o farlo in strutture ipocrite e mediocri, dove vedrà ripetersi quanto sopra senza guarire.</p>

<hr />

<div class="page-header">
	<h2 class="content">{{strings.note}}</h2>
</div>
<ol class="references">
	<li>Wikibooks <a href="http://it.wikibooks.org/wiki/Divina_Commedia/Inferno/Canto_II">"Divina Commedia/Inferno/Canto II"</a>. In <i>Wikibooks, manuali e libri di testo liberi</i>. Wikimedia Foundation, Inc. Consultato il 15 aprile 2021.</li>
</ol>

<div class="page-header">
	<h2 class="content">Bibliografia</h2>
</div>
<ul>
	<li>Pasquini, Emilio e Quaglio, Antonio (aprile 2008). <i>Dante, Commedia - Inferno (VII Ed.)</i> Garzanti. Consultato il 15 aprile 2021.</li>
</ul>

<div class="page-header">
	<h2 class="content">{{strings.elencoDomini}}</h2>
</div>
<div class="hyperlinksDomain col-md-6 card bd-top-color-yellow">{{strings.dominiCollegamenti}}</div>
<div class="photosDomain col-md-5 card bd-top-color-green">{{strings.dominiFoto}}</div>

<div ng-include src="'views/it/partials/footer.html'"></div>