<div>
  <h1 class="text-center">{{pagetitle}}</h1>
  <hr />
</div>

<p>Il sito è nato dalla volontà e necessità di raccontare la mia storia dopo una caduta illustrando i numerosi tentativi di comprendere l&#39;origine del male, le cure, l&#39;andamento delle condizioni di salute, il rapporto con i medici e le istituzioni, le vicissitudini. Fornisce elementi della mia formazione umana e delle mie passioni che possono essere di comprensione dell&#39;intera storia, mentre una sezione descrive luoghi a me noti. Si legga <a href="#preambolo">preambolo</a>.</p>
<p>La sezione del racconto dopo la caduta ricorda i momenti ritenuti più importanti delle richieste di cura e le risposte che sono state fornite, con elementi oggettivi, la documentazione in possesso, seguendo strettamente la cronologia dei fatti, con successive considerazioni, commenti e opinioni personali, è una pagina di denuncia.<br />  
    Prevalgono la narrazione e l&#39;informazione<my-ref>^</my-ref>, seguita dalla mia analisi che ha più un carattere argomentativo, segue un filo logico, un ragionamento per arrivare ad una conclusione sensata con lo scopo di convincere il lettore. Il testo informativo spesso è di tipo scientifico, procede per definizioni, fissandone una, poi procede ritenendola un appoggio per una seconda, per continuare a progredire nell&#39;informazione. <br />  
    Nella sezione che riguarda i luoghi prevale il testo descrittivo con lo scopo di rappresentare l&#39;oggetto, che è un testo pragmatico, come&nbsp;il racconto, volendo ottenere uno scopo pratico, mentre il testo si fa più letterario quando cito i maestri o ho dei flash-back sui loro insegnamenti o su analogie.</p>
<p>I collegamenti ipertestuali sono molto utilizzati per la parte narrativa e descrittiva. I collegamenti che sono indirizzati al mio sito o a <a href="http://it.wikipedia.org/wiki/Pagina_principale">Wikipedia</a> vi puntano direttamente all&#39;interno della narrazione, per tutti gli altri viene aggiunto un riferimento alle note della pagina e da li c&#39;è l&#39;indirizzamento. Questa soluzione è stata adottata perchè il lettore possa distinguere immediatamente la fonte più frequente dalle altre. Wikipedia è&nbsp; l&#39;enciclopedia online, a cui ciascuno può contribuire e migliorare ogni pagina, che ha il pregio di avere un gran numero di voci, una grande conoscenza dell&#39;umano, con pagine di un buon livello e articolate e altre che sono solo l&#39;inizio 
    di un argomentazione e da verificare, in lingua italiana alcune voci sono mediocri, contengono errori e sono fuorvianti; in ogni caso tutte le pagine hanno l&#39;origine dalle <a href="http://it.wikipedia.org/wiki/Wikipedia:Cinque_pilastri">linee guida</a> fissate dall&#39;enciclopedia.<br />
    Per una analisi di ogni voce più approfondita, libera e varia si raccomanda le pagine su internet, rintracciabili con di <a href="http://it.wikipedia.org/wiki/Motore_di_ricerca">motori di ricerca</a> come <a href="http://it.wikipedia.org/wiki/Google">Google</a><my-ref>^</my-ref>, siti, libri, filmati, conoscenze e esperienza personale.</p>
<p>Ogni pagina ha un titolo, alcune un sottotitolo che dà una definizione o una succinta spiegazione della pagina, segue l&#39;indice della pagina poi il corpo della pagina con i paragrafi in cui è articolata, in fondo le note, i <a href="http://it.wikipedia.org/wiki/Nome_di_dominio">domini</a> dei collegamenti e delle foto, la bibliografia se esistente, la data di ultima modifica della pagina. L&#39;indice, le note e la lista dei domini sono riconoscibili da una linea colorata in alto. Nell&#39;indice il collegamento alle note è separato dal titolo dell&#39;ultimo paragrafo da una linea vuota.<br />
    Un testo originale che viene copiato è in corsivo, come i titoli dei libri e i capitoli di riferimento nelle note.</p>
<p>Il sito ha due lingue italiano e inglese, non sempre la stessa pagina esiste nelle due versioni e non sempre la traduzione è letterale. Per la traduzione dall&#39;italiano all&#39;inglese oltre alle mie conoscenze di base dell&#39;inglese è stato utilizzato il servizio di <a href="http://it.wikipedia.org/wiki/Google_Traduttore">Google Translate</a><my-ref>^</my-ref>, talvolta con l&#39;ulteriore aiuto di WordReference<my-ref>^</my-ref>.</p>
<p>La piattaforma utilizzata è angularjs<my-ref>^</my-ref>, il potente e innovativo Javascript MVW framework di Google per scrivere applicazioni completamente client ottenendo un'applicazione a singola pagina. AngularJS permette con le direttive di arricchire la sintassi di html, sincronizza nei due sensi l'interfaccia utente con i dati (il modello), indica al browser l'<a href="http://it.wikipedia.org/wiki/Dependency_injection">iniezione di dipendenza</a> e l'<a href="http://it.wikipedia.org/wiki/Inversion_of_Control">inversione del controllo</a>.<br> 
    Il modello di programmazione è quello <a href="http://it.wikipedia.org/wiki/Model-View-Controller">MVC</a> reso ancora più potente (C che diventa W, Whatever) con l'aggiunta al controller di componenti e servizi scritti come client. <br />
    Il front-end di stile, il css, utilizzato è bootstrap<my-ref>^</my-ref> che facilita e migliora la leggibilità e disposizione del sito.  <br /> 
    Il codice eseguito nella parte client, <a href="http://it.wikipedia.org/wiki/JavaScript">Javascript</a>, ha queste funzioni: </p>
   <ul>
    <li>crea l&#39;indice</li>
    <li>compila il riferimento che manda alla fonte nelle note </li>
    <li>elenca i domini dei collegamenti </li>
    <li>elenca i domini delle foto</li>
    <li>aggiunge i collegamenti ai social e alla email, in cui si usa il codice fornito da addthis<my-ref>^</my-ref></li>   
   </ul>
<p>I collegamenti ipertestuali che non si indirizzano al sito o a Wikipedia presentano un simbolo aggiuntivo. Il sito dispone di una piccola libreria di icone 16x16 con i simboli grafici dei siti a cui si fa riferimento; se il simbolo è esistente nella mia libreria viene aggiunto prima del collegamento ipertestuale, altrimenti il collegamento esterno 
    viene evidenziato con un simbolo standard <img src='{{languageInvariantStrings.externalHyperlinkIcon}}' alt="Simbolo grafico collegamento esterno" /> dopo il collegamento. La libreria di icone è stata costruita con ricerca tramite Google Search con il nome del sito e immagini della dimensione 16x16. Se l&#39;icona del marchio del sito è disponibile come risorsa su internet viene aggiunta alla libreria.<br />
    Il collegamento viene sottolineato quando il mouse ne è di al di sopra.</p>
<p>La vostra opinione, suggerimenti, incoraggiamenti, messaggi, condivisioni, correzioni sono gradite.</p>
<p>&nbsp;</p>

<div ng-include src="'views/social-btn.html'" ></div>  
<hr />
   
<h2>{{strings.note}}</h2>
<hr />
<ol class="references"> 
    <li><em>Maurizio Dardano e Pietro Trifone, Grammatica Italiana con nozioni di linguistica terza edizione, Zanichelli. 14.5 I tipi di testo</em>, da pagina 539 a 551</li>
    <li><em><a href="https://www.google.it/webhp?rls=ig&amp;gws_rd=ssl">Google Search</a></em></li>
    <li><em><a href="https://translate.google.it/">Google Translate</a></em></li>
    <li><em><a href="http://www.wordreference.com/it/">Wordreference</a></em></li>
    <li>In inglese <em><a href="https://angularjs.org/">AngularJS</a></em></li>
    <li>In inglese <em><a href="http://getbootstrap.com/">bootstrap</a></em></li>
    <li>In inglese <em><a href="http://www.addthis.com/">addthis</a></em></li>
   
</ol>
<hr />
<h2>{{strings.elencoDomini}}</h2>
<div class="hyperlinksDomain col-md-6 card bd-top-color-yellow">{{strings.dominiCollegamenti}}</div>
<div class="photosDomain col-md-5 card bd-top-color-green">{{strings.dominiFoto}}</div>

<div ng-include src="'views/it/partials/footer.html'" ></div> 
