<div addthis-toolbox class="addthis_toolbox addthis_default_style ">
        <!--<span style="margin-left:-25px;">
            <g:plus action="share" ></g:plus>           
        </span>  How to refresh? -->
         <a class="addthis_button_email"></a>
         <a class="addthis_button_google_plusone_share" g:plusone:size="small"></a>       
         <a class="addthis_button_facebook_share" fb:share:layout="button_count"></a>
         <a class="addthis_button_tweet" ></a>  
         <!-- tweet moves last on the right  -->      
</div>
