<div class="jumbotron padding-15px">
    <div class="page-header">
        <h1 class="text-center">{{pagetitle}}</h1>
    </div>
</div>

<div ng-include src="'views/social-btn.html'" ></div>  
<hr />

<p><a href="http://en.wikipedia.org/wiki/Convivio">Convivio</a> is the work in which Dante says, with a renewed and improved style, the distress that allowed him to overcome the death of Beatrice showing a new human condition which rises from youthful and loving writings toward higher topics. Convivio is the comment of the poet to his songs (Canzoni) in which a gentle spirit of love made him open his mouth.</p>
<p>Dante in the <a href="#convivioBookOne">first book</a> of the work, which is introductory, thinks the ultimate happiness of man, starting from Aristotelian position, offering his knowledge for the good of others dividing the world into good and bad, people worthy and unworthy to participate to his table, he explains when it is granted to talk about himself and because his comment is so hard, difficult, speaks about the exile, his name defamed, the language, the vulgar preferred to Latin.</p>
<p>In the <a href="#convivioBookTwo">second book</a>, immediately the First Song (Prima Canzone), the food, the main dish in the food metaphor that is the support work.<br />
    The poet sings his love for a new woman and how this new thinking has overcome the sadness over the death of his first love, Beatrice. The comment of the poet, the bread, it aims to explain in great detail every verse of the song, and to do this must first educate on how a poem should read. Says who are the creatures to which he invites to listen to his song, the link between heaven and earth, here begin the praises of Dante to our Lord.<br />
    On this framework Dante builds a small medieval encyclopedia on knowledge that is one of the purposes of the Convivio, as to each heaven corresponds a science, touching them, in the subdivision of the Trivium (Grammar, Rhetoric, Dialectic) and Quadrivium (Arithmetic, Geometry, Astronomy and Music), Physics and Moral, until Philosophy and Theology.
    At the end it will be apparent that the woman with whom Dante was in love, was not a real woman, but it is the Philosophy to which he was introduced by the readings of Boethius in which had sought and found consolation at the death of Beatrice and Cicero.<br />
    Convivio is a work of doctrine in which the cosmos of the poet is shown in its geometry and its strength, unique work, anticipation and preparation for <a href="#comedy">Comedy</a>.</p>
<p>Taking back Convivio was a strong experience, challenging, necessary, that made me happy!<br />
    My narrative language seemed to me insufficient at the beginning of my writing, needed a lesson in style, and the ability to analyze all the space not remaining on the surface and approach the truth. In Canzoni of Dante is contained the whole world, the pain of loss, loneliness and confusion, the commitment, the help as love, the study, the supernatural and the divine, and he reveals it, arguments that they will find the perfect form in Comedy. His <a href="#convivioBookOne#bookI_ChapterXIII_12">bread of barley</a> which shall satiate thousands is that comment still now helpful, that it helped me, stopping, able to explain and illuminate where others fail.<br />
    How many things I had left behind the poet, his personal story that he tells, and what beauty, sound, form, substance, it emerges in its pages, and how remains its sweetness! And how things repeat themselves!<br />
    I spent several months at my new reading of Convivio and then to paraphrase, and more you get in and harder is to look away from it. I faced the First book, the first part in essential in each work is and here serves as a preface, 
    and Second book with Prima Canzone where I focused my work on the first and fourth stanza, consired the core of Canzone. Despite the cuts I tried to lose as little as possible of the overall meaning remains consistent with the necessary choice for short time and then having to go back to my story, promising to write only with a new habit, in better condition and ready to do the hard work.</p>
<p>My work was to copy the text of Convivio, a part of it, copied in italics, and paraphrase.<br />
    The paraphrase is really the way to fully understand the literal sense of the work, the outside that allows to get to inside, the true sense, otherwise impenetrable.<br /> 
    The paraphrase has the task of transforming a text that has a linguistic register away to one current and understandable by the rules of grammar and words of the current language maintaining, where possible, the recognition and assonance. In this case to paraphrase means the transformation of the Dante&#39;s high poetic style to one more humble.<br />
    My paraphrase follows every division of the original text of the chapter, without references to notes.<br />
    In my paraphrase the text in brackets are additions to the original version, and not by the poet, when the text also paraphrased is not easily understood or hidden meaning and it deserves a little explanation: a subject, an object, a complement, a conjunction, a consequence of the previous parts of the work; it is indicated between brackets the source when the poet quotes the Gospel, the Bible or other poems.<br />
    Rarely, and only when even the paraphrase with the addition could be incomplete or deemed insufficient or it is necessary having knowledge which is not apparent from the work, I gave a further explanation on the next line.</p>
<p>For English the copied text of Convivio is the excellent translation of Richard Lansing, who was able to correctly read the comment of the poet and translate it in English while maintaining the fidelity and the assonance as far as possible from one language to another, its translation in part is already a paraphrase. The paraphrase of Richard Lansing it was also very helpful in correcting my Italian paraphrase, which for many chapters I did not have a valid text for comparison.<br />
    My paraphrase in English comes from my paraphrase in Italian and then translated and compared to the translation of Richard Lansing and whenever deemed necessary adapted; sometimes it has been helpful also Poetry in Translation that as by choice is a paraphrase with simpler language, far from the assonance of the original text losing the high style in which it was written the Convivio, even if the meaning is correct. My English paraphrase can be considered an extra help, many times similar to or identical with the text of Lansing.</p>

<hr />
<div class="page-header">
   <h2 class="content">{{strings.notes}}</h2>
</div>
<ol class="references">
    
</ol>

<div class="page-header" >
      <h2 class="content">{{strings.domainsList}}</h2>
</div>
<div class="hyperlinksDomain col-md-6 card bd-top-color-yellow">{{strings.linksDomains}}</div>
<div class="photosDomain col-md-5 card bd-top-color-green">{{strings.photosDomains}}</div>

<div ng-include src="'views/en/partials/footer.html'" ></div>