<div>
  <h1 class="text-center">{{pagetitle}}</h1>
  <hr />
</div>

<p>For I, the website that should have said a little about me, I learned <a href="http://en.wikipedia.org/wiki/AngularJS">AngularJS</a>,<my-ref>^</my-ref><my-ref>^</my-ref> a front-end web framework.  
  The powerful and innovative MVW JavaScript framework for writing applications by Google getting a <a href="http://en.wikipedia.org/wiki/Single-page_application">Single Page Application</a>. AngularJS lets extend HTML’s syntax, automatically synchronizes data from UI (view) with JavaScript objects (model) through 2-way data binding and teaches the browser how to do <a href="http://en.wikipedia.org/wiki/Dependency_injection">dependency injection</a> and <a href="http://en.wikipedia.org/wiki/Inversion_of_control">inversion of control</a>.<br> 
    MVW (Model-View-Whatever)<my-ref>^</my-ref> is an evolution of the programming model <a href="http://en.wikipedia.org/wiki/Model-View-Controller">MVC</a>. The Model-View-Controller (<a href="http://en.wikipedia.org/wiki/Model–view–controller">MVC</a><my-ref>^</my-ref>) architectural pattern separates an application into three main components: the model (M), the view (V), and the controller (C) providing loose coupling between different aspects of the application, input logic, business logic, and User Interface (UI) logic. It enables to focus on one aspect of the implementation at a time as separation of concerns. 
    Over time and thanks to many <a href="http://en.wikipedia.org/wiki/Code_refactoring">refactorings</a> and <a href="http://en.wikipedia.org/wiki/Application_programming_interface">api</a> improvements, AngularJS is now closer to <a href="http://en.wikipedia.org/wiki/Model_View_ViewModel">MVVM</a>, the $scope object could be considered the ViewModel that is being decorated by a function (Controller). This framework flexibility has been named as whatever (W), whatever works for you.</p>
   
<p>For the interface, the component library is Bootstrap,<my-ref>^</my-ref> the most popular HTML, <a href="http://en.wikipedia.org/wiki/CSS">CSS</a> and JS library in the world.<br />
   I is in Italian and English, the two languages management has required an extra effort for the routing and the definition of the controllers.<br />
    Short snippets of code in <a href="http://en.wikipedia.org/wiki/JavaScript">Javascript</a> implemented by me handle these functions:</p>
    <ul>
     <li>create the table of contents</li>
     <li>creates a progressive number, which is a hypertext link that sends to the quotation of the source, contained in the notes</li>
     <li>creates a hyperlink, symbolized with ^, from the quote to the text</li>
     <li>list links' domain names</li>
     <li>list photos' domain names</li>
     <li>with addthis<my-ref>^</my-ref> add social and email links</li>   
    </ul>
<p>Hyperlinks that do not address the site or Wikipedia have an additional symbol. The site has a small library of 16x16 graphic symbols of the sites to which you refer; if the symbol is existing in my library is added in front of the hyperlink, otherwise the external connection is highlighted with a standard symbol <img src='{{languageInvariantStrings.externalHyperlinkIcon}}' alt="Graphic symbol of external hyperlink" /> after link. The library was built with search icons by Google Search with the site name and image of the size 16x16. If the brand icon of the site is available as a resource on the Internet is added to the library.<br />
    The link is highlighted when the mouse is over.</p>
<p>Your opinion, suggestions, encouragement, posts, shares and corrections are welcome.</p>
<p>&nbsp;</p>

<div ng-include src="'views/social-btn.html'" ></div>  
<hr />
   
<h2>{{strings.notes}}</h2>
<hr />
<ol class="references">       
    <li><em><a href="https://angularjs.org/">AngularJS</a></em></li>
    <li><em><a href="https://github.com/angular/angular.js">GitHub angularjs/angular.js</a></em></li>
    <li><em><a href="https://plus.google.com/+AngularJS/posts/aZNVhj355G2">AngularJS</a> Posts, Igor Minar</em></li>
    <li><em><a href="https://msdn.microsoft.com/en-us/library/dd381412%28v=vs.108%29.aspx">ASP.NET MVC Overview</a></em></li>
    <li><em><a href="http://getbootstrap.com/">Bootstrap</a></em></li>
    <li><em><a href="http://www.addthis.com/">addthis</a></em></li>   
</ol>
<hr />
<h2>{{strings.domainsList}}</h2>
<div class="hyperlinksDomain col-md-6 card bd-top-color-yellow">{{strings.linksDomains}}</div>
<div class="photosDomain col-md-5 card bd-top-color-green">{{strings.photosDomains}}</div>

<div ng-include src="'views/en/partials/footer.html'" ></div> 
