<nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
           <a class="navbar-brand">
           </a>
        </div>
        <div>
           <ul class="nav navbar-nav">
              <li><a href="#/preamble">Preamble</a></li>
              <li class="dropdown" >
                 <a data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                    Story
                    <span class="caret"></span>
                 </a>
                 <ul class="dropdown-menu">
                    <li ng-class="{ active: isActive('/thefall')}"><a  href="#/thefall">The fall</a></li>
                    <li ng-class="{ active: isActive('/thefirstphysicalexaminations')}"><a  href="#/thefirstphysicalexaminations">The first physical examinations</a></li>
                 </ul>
              </li>    
              <li class="dropdown" >
                 <a data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                    Maestroes
                    <span class="caret"></span>
                 </a>
                 <ul class="dropdown-menu">
                    <li ng-class="{ active: isActive('/en-dante')}"><a  href="#/en-dante">Dante</a></li>                
                 </ul>
              </li>          
              <li class="dropdown" >
                 <a data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                    Places 
                    <span class="caret"></span>
                 </a>
                 <ul class="dropdown-menu">
                    <li ng-class="{ active: isActive('/warmemorialofMusocco')}"><a  href="#/warmemorialofMusocco">War Memorial of Musocco</a></li>                  
                 </ul>
              </li>              
              <li><a href="#/en-about">About</a></li>
           </ul>
            <ul class="nav navbar-nav pull-right">
              <li ng-class="{ active: isActive('/preambolo')}"><a  href="#/preambolo">Italiano</a></li>
            </ul>
        </div>
    </nav>
